a:link{
    background-color: aqua;
    color:green;
    padding: 20px;

}
a:active{
    background-color: chocolate;
    color:brown;
}
a:visited{
    background-color: blueviolet;
    color: black;
}
input:focus{
    background-color: aqua;
    color:blueviolet;
}